<div class="instructions well well-lg">
	<h4 class="panel-sub-heading">Reminder of the Investment opportunities</h4>

    <p><ol>
		<li><strong>The Individual Account</strong><ul>
			<li>Every token you put in the individual account is worth exactly one token. The tokens you place in your Individual Account affect only your earnings.</li>
		</ul></li>
		<li><strong>The Group Account</strong><ul>
 			<li>What you earn from the Group Account will depend on the total number of tokens that you and the other three members of your group invest in the Group Account, and on the return rate of the Group Account.  The more the group invests in the Group Account, the more each member of the group earns.</li>
			<li>The return rate of the Group Account is the return (expressed in tokens) for each group member of one token invested in the Group Account. Each token present in the Group Account pays the return  rate to each group member, regardless of who invested it.</li>
			</ul></li>
	</p></ol>
    <p>For you convenience these instructions will remain available to you in all subsequent screens of this study.</p>

</div>
