{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	A new Period is about to begin
{% endblock %}

{% block content %}

<p>Period {{ period }} is about to begin.  You are now being matched with 3 other participants.  At the end of the period, you will be rematched with 3 new partipants.</p>

{% if varied %}
<p>Not that in this period the return rate of the Group Account <u>will vary in each of the 8 rounds</u>.  Before each round, the computer will randomly select a new return rate value.</p>
{% else %}
<p>Note that in this period the return rate of the Group Account <u>will remain fixed for the 8 rounds</u></p>
{% endif %}
<p>Please click next to continue</p>

{% next_button %}

{% endblock %}

