<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<style>
input { margin-bottom: 0px; }
</style>
<script>
	if ( {{ group.efficiency_rate }} == 2 ){
		var subber = Math.floor((Math.random() * 2));
	} else if ( {{ group.efficiency_rate }} == 1) {
		var subber = 0;
	} else {
		var subber = Math.floor((Math.random() * 3));
	}
	var adder = Math.floor((Math.random() * 3));
	function refreshMoney() {
		var igive = $( "#slider-i-give" ).slider( "value" ),
			ggive = $( "#slider-group-give" ).slider( "value" ),
			input = $( "#mpcr" ).val(),
			minimum = {{ group.efficiency_rate }} - subber ,
			maximum = {{ group.efficiency_rate }} + adder,
			endowment = {{ Constants.template_endowment }} - igive, 
			sharesmin = ((igive + (ggive * 3)) * minimum) / 4,
			sharesmax = ((igive + (ggive * 3)) * maximum) / 4,
			earnmin = endowment + sharesmin,
			earnmax = endowment + sharesmax,
			share =  input * (igive + (ggive * 3)),
			share = Math.round(share * 100)/ 100;
			earnings = endowment + share;
			earnings = Math.round(earnings * 100)/ 100;
		$( "#gamount" ).val( ggive + " Points" );
		$( "#iamount" ).val( igive + " Points" );
		$( "#endowment" ).val(endowment + " Points" );

		//$( "#shares" ).val("$" + sharesmin + " - $" + sharesmax );
		$( "#shares" ).val( share + " Points");

		//$( "#totalearnings" ).val("$" + earnmin + " - $" + earnmax );
		$( "#totalearnings" ).val( earnings + " Points");
	}

	
	$(function() {
		$( "#slider-i-give, #slider-group-give" ).slider({
			range: "min",
			value: 0,
			min: 0,
			max: {{ Constants.template_endowment }},
			slide: refreshMoney,
			change: refreshMoney,
		});
		$( "#slider-i-give" ).slider( "value", 0 ) ;
		$( "#slider-group-give" ).slider( "value", 0 );
		$( "#endowment" ).val( {{ Constants.template_endowment }} + " Points" );
		$( "#shares" ).val( 0 + " Points" );
		$( '#mpcr' ).change( refreshMoney );
		$( "#totalearnings" ).val( 0 + " Points" );
			
	});
</script>

<div class="row panel panel-default">
	<div class="panel-heading">Earnings Estimator</div>
	<table class="table-condensed col-md-6">		

	<tr>
		<th>I contribute: <input type="text" id="iamount" readonly style="border:0; color:#f6931f; font-weight:bold;">
		</th>
	</tr>
	<tr>
		<td><div id="slider-i-give"></div></td>
	</tr>

	<tr>
		<th>Each other player contribues: <input type="text" id="gamount" readonly style="border:0; color:#f6931f; font-weight:bold;"> </th>
	</tr>
	<tr>
		<td><div id="slider-group-give"></div></td>
	</td>
	</table>
		<div class="panel-body panel-info">
		<table class="table-condensed col-md-6">
		<tr>
			<td>Multiplier</td>
			<td><select id="mpcr">
				{% for item in table_headers %}
				<option>{{ item }}</option>
				{% endfor %}
			</select></td>
		</tr>
		<tr>
			<td>Endowment:</td>
			<td><input type="text" id="endowment" readonly style="border:0; color:#f6921f; font-weight:bold;"></td>
		</tr>
		<tr>
			<td>Share from contributions:</td>
			<td><input type="text" id="shares" readonly style="border:0; color:#f6931f; font-weight:bold;"></td>
		</tr>
		<tr> 
			<td><b>Potential round earnings:</b></td> 
			<td><input type="text" id="totalearnings" readonly style="border:0; color:#f6931f; font-weight:bold;"></td>
		</tr>
		</table>
		</div>

</div>


