{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block title %}
    Thank you for participating!
{% endblock %}

{% block content %}

	<table class="table-condensed">
		<tr>
			<td>Tokens from main experiment:</td><td>{{ pg_points }} Tokens ( {{ game }} was selected )</td>
		</tr>
		<tr>
			<td>Tokens from addtional tasks:</td><td>{{ additional_points }} Tokens</td>
		</tr>
		<tr>
			<td colspan="2"><hr/></td>
		</tr>
		<tr>
			<td>Sum of tokens:</td><td>{{ points }} Tokens</td>
		</tr>
		<tr>
			<td>Tokens in real world currency:<br>(20 tokens = $1)</td><td>{{ money }}</td>
		</tr>
		<tr><td colspan="2"><hr/></td></tr>
		<tr><td>Participation fee:</td><td>$10.00</td></tr>
		<tr><th>Total earnings:</th><td>{{ takehome }}</td></tr>
	</table>

    <br>
    <div class="row">
        <div class="col-md-4">
            <b>Particpant Code:</b> {{ participant.code }}
        </div>
        <div class="col-md-4">
            <b>Participant Label:</b> {{ participant.label }}
        </div>
    </div>

{% endblock %}
