<div class="box effect7">
	<h3>Instructions</h3>
	<p>This is the second and last additional task today. This additional task is independent from the main experiment, and will give you a chance to earn additional tokens. The basic task is simple</p>
<p>
<h4>For each of the 10 questions below you have to make 2 decisions</h4>
<ol>
	<li>Choose from which of two urns you want to  draw one virtual ball</li>
	<li>You have to bet on the  color  of the ball (either black or white)</li>
</ol>
</p>

<p> In the urn on the right, 50% of the balls are black, and 50% are white. In the urn on the left, the proportion of black and white ball is unkown to you. You will repeat these 2 decisions for each of the 10 questions below. For each question, you choose whether you want to draw a ball from the left or right urn, and you choose which color you bet you will draw. As you can see, the 10 questions differ in amount of tokens you can win from the "certain urn" (the right urn with 50% white balls and 50% black balls).</p>

<p>Once you have answered all 10 questions, the computer program will randomly choose one of those 10 questions. Your earnings will depend only on that question. The computer will then draw a virtual ball from the urn you have chosen in the selected question: if the ball extracted has the same color you bet on, you win the corresponding amount. If the ball extracted has a different color, you earn zero from this task.</p>
 
</div>
