{% with playertable=quizDict.table %}
<div id="div-table" class="table-responsive">
	<table class="table table-bordered table-condensed">
		<tr>
			<th></th>
			<th class="active" style="text-align:center;" colspan="13">Return rate of G.A.</th>
		</tr>
		<tr>
			<th class="info">Group Members</th>
			{% for x in table_headers %}
				<th class="active">{{ x }}</th>
			{% endfor %}
		</tr>
		{% for p in playertable %}
			<tr>
				<td>{{ p.0 }}</td>
							{% for x in table_headers %}
								{% if x == p.2 %}
									<td class="success">{{ p.2 }}</td>
								{% else %}
									<td> </td>
								{% endif %}
							{% endfor %}
			</tr>
		{% endfor %}
	</table>
</div>
{% endwith %}
