{% with playertable=quizDict.table %}
<div id="div-table" class="table-responsive">
	<table class="table table-bordered table-condensed">
		<tr>
			<th></th>
			<th class="active" style="text-align:center;" colspan="13">Return rate of G.A.</th>
		</tr>
		<tr>
			<th>Group Members</th>
			{% for x in table_headers %}
				<th class="active">{{ x }}</th>
			{% endfor %}
		</tr>
		{% with p=quizDict.table.0 %}
		<tr>
			<td>{{ p.0 }}</td>
			{% for x in table_headers %}
				{% if x >= p.1 and x <= p.3 %}
					<td class="success">{% if x == p.2 %}{{ p.2 }}{% endif %}</td>
				{% else %}
				<td> </td>
				{% endif %}
			{% endfor %}
		</tr>
		{% endwith %}

		{% for p in playertable %}
			<tr>
			{% if not forloop.first %}
				<td>{{ p.0 }}</td>
				{% for x in table_headers %}
					{% if x >= p.1 and x <= p.3 or x == p.3 %}
						<td {% if treatment == 3 %}class="success"{% endif %}> {% if x == p.2 and treatment == 3 %}{{ p.2 }}{% endif %}</td>
					{% else %}
						<td> </td>
					{% endif %}
				{% endfor %}
			{% endif %}
			</tr>
		{% endfor %}
	</table>
</div>
{% endwith %}
