{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	ID Information
{% endblock %}

{% block content %}

<p>The next section contains a short comprehension quiz.</p>
<p>Please notice that if you have answered all the questions but you can't movie forward to the next page, it means that one or more answers are incorrect.  You can always raise your hand if you have questions, a lab assistant will come to you.</p>
<p>Please click next to continue</p>

{% next_button %}

{% endblock %}


