{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Lottery Choice
{% endblock %}

{% block content %}

<p>Before continuing to the next page, take note of you ID number listed below.  A session monitor will be providing a pen and paper task.  Write your ID number at the top of the paper</p>

<h3>Your ID number is: {{ player.participant.id }}</h3>


{% next_button %}

{% endblock %}



{% block content_at_bottom_of_body %}
	<script type="text/javascript">
		function enable() {
			document.getElementsByTagName("input").disabled=true;
		}
		function disable() {
			document.getElementsByTagName("input").disabled=false;
		}
	</script>

{% endblock %}
