<div class="box effect7">
	<h4>Instructions</h4>
	<p>You are now given a chance to earn additional tokens, which will be added to the earnings from the main experiment at the end of today's session.</p>

<p>This additional task is independent from the main experiment.</p> 

<p>Below there are 5 gambles: your task is to choose which one of the 5 gambles you want to play. Notice that gambles differ in the amounts you can make if the outcome is head or tail.</p> 

<p>Once you choose which gamble you want to play, a computer program will toss a virtual fair coin, and you will earn the tokens associated with the outcome (head or tail) and with the gamble you chose.</p> 

<p>Here is an example: suppose you choose Gamble 3: if the toin coss outcome is heads, you will earn 52 tokens. If the coin toss outcome is tails you will earn 28 tokens. The coin will be flipped only once.</p>
 
</div>
